@media screen and (min-width: 200px) and (max-width: 768px) {
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}