@media screen and (min-width: 200px) and (max-width: 768px) {
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}



.bg__gradient {
  height: 500px;
  width: 500px;  filter: blur(500px);
  border-radius: 100%;
  background-size: 1000% 100%;
  
  animation: gradient 10s infinite ease-out;
  
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  
  z-index: 0
}

@keyframes gradient {
  0%{background-position:0% 50%}
  100%{background-position:100% 100%}
}

.card {
  padding-bottom: 20px;
  height: 170px;
  width: 400px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255, 50%);
  background-image: linear-gradient(135deg, rgb(255, 255, 255, 15%), rgb(21, 25, 31, 0%));
  transition: all ease;
  
  cursor: pointer;
  
  z-index: 5;
}

.card:hover {
  filter: drop-shadow(0 0 0px rgb(255, 255, 255, 60%));
  color: rgb(255, 255, 255, 80%);
}


@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}


.responsive{
    flex-wrap: wrap;
}